/node_modules
/examples/**/node_modules
.DS_Store
/.history
*.js.map
coverage
.vscode
apiPassword
releasePassword
.tmp
.idea
/test_report
/.nyc_output


pyenv
__pycache__

api-mock/**/*.d.ts
api-mock/**/*.js